// https://github.com/shentao/vue-multiselect/blob/master/src/Multiselect.vue

.multiselect__spinner {
    position: absolute;
    right: 1px;
    top: 50%;
    margin-top: -17px;
    width: 48px;
    height: 35px;
    background: #fff;
    display: block;
  }

  .multiselect__spinner::before,
  .multiselect__spinner::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: #41b883 transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
  }

  .multiselect__spinner::before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
  }

  .multiselect__spinner::after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
  }

  .multiselect {
    font-family: inherit;
    font-size: 16px;
    touch-action: manipulation;
    display: block;
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: left;
    color: #35495e;

    &::-ms-clear {
      display: none;
    }
  }

  .multiselect * {
    box-sizing: border-box;
  }

  .multiselect:focus {
    outline: none;
  }

  $select-element-height: 44px;

  /*! purgecss start ignore */
  .multiselect__content-wrapper {
    position: absolute;
    display: block;
    background: #fff;
    width: 100%;
    max-height: $select-element-height * 5.5;
    overflow: auto;
    border: 1px solid #e8e8e8;
    margin-top: 1px;
    border-top: none;
    border-radius: 4px;
    z-index: $zindex-dropdown;
    -webkit-overflow-scrolling: touch;

    &.high-light{
          box-shadow: 0 0 0 2px $primary;
    }
  }

  /*! purgecss end ignore */

  .multiselect__content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 100%;
    vertical-align: top;
  }

  .multiselect__content::webkit-scrollbar {
    display: none;
  }

  .multiselect__element {
    display: block;
    height: $select-element-height;
  }

  .multiselect__option {
    display: block;
    padding: 12px;
    min-height: 40px;
    height: 100%;
    line-height: 16px;
    font-size: $font-small;
    font-weight: $font-weight-normal;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }

  .multiselect__option::after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px;
    font-size: 13px;
  }

  .multiselect__option--highlight {
    background: #41b883;
    outline: none;
    color: white;
  }

  .multiselect__option--highlight::after {
    content: attr(data-select);
    background: #41b883;
    color: white;
  }

  .form-element-tag-input {
    .jb_icon_down {
      position: absolute;
      right: 8px;
      top: 50%;
      font-size: 16px;
      z-index: 10;
      margin-top: -8px;
      color: $gray-700;
    }
  }

  *[dir="rtl"] .multiselect {
    text-align: right;
  }

  *[dir="rtl"] .multiselect__content {
    text-align: right;
  }

  *[dir="rtl"] .multiselect__option::after {
    right: auto;
    left: 0;
  }

  *[dir="rtl"] .multiselect__spinner {
    right: auto;
    left: 1px;
  }
  @keyframes spinning {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(2turn);
    }
  }
