@import '~bootstrap/scss/root';
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/reboot.scss";
@import "~bootstrap/scss/grid.scss";
// 需要用到元件的部分
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/card";

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  transition: color ease 0.2s;

  &.disabled{
    cursor: not-allowed;
    color: $gray-600;
  }
}